@page "/cidades"

<h4>Lista de Cidades!</h4>
<div class="table-responsive" id="table">
    <table class="table mb-0" id="dataTable">
        <thead>
            <tr>
                <th>Cep</th>
                <th>Cidade</th>
                <th>UF</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/pages/cidades.js"></script>
}